:root {
  --bg-color: #0e0f11; /* App background */
  --sidebar-bg: #131416; /* Left sidebar */
  --card-bg: #2a2a3a; /* Chat list item */
  --primary-color: #4fc3f7; /* Selected item / button */
  --text-color: #e0e0e0; /* Main text */
  --text-secondary: #818898; /* Secondary text / timestamps */
  --border-color: #2c2c3c; /* Divider lines */
  --input-bg: #2a2a3a; /* Input area background */
  --placeholder-color: #7a7a7a; /* Placeholder text */
}

/* Dark theme */
[data-theme="light"] {
  --bg-color: #f5f5f5; /* App background */
  --sidebar-bg: #ffffff; /* Left sidebar */
  --chat-bg: #eaeaea; /* Chat area background */
  --card-bg: #ffffff; /* Chat list item */
  --primary-color: #1976d2; /* Selected item / button */
  --text-color: #212121; /* Main text */
  --text-secondary: #616161; /* Secondary text / timestamps */
  --border-color: #dcdcdc; /* Divider lines */
  --input-bg: #ffffff; /* Input area background */
  --placeholder-color: #9e9e9e; /* Placeholder text */
}

/* ====== Reusable Compones ====== */
.Input {
  width: 100%;
  height: 44px;

  display: flex;
  align-items: center;

  padding: 0 12px;
  gap: 8px;

  background-color: var(--input-bg);
  border: 1px solid var(--border-color);
  border-radius: 12px;

  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}
.Input:focus-within {
  border-color: var(--primary-color);
  box-shadow: 0 0 8px var(--primary-color);
}

.InputIcon {
  font-size: 20px;
  color: var(--text-secondary);

  display: flex;
  align-items: center;
  justify-content: center;

  pointer-events: none; /* important */
}

.InputField {
  width: 100%;
  height: 100%;

  border: none;
  outline: none;
  background: transparent;

  color: var(--text-color);
  font-size: 15px;
}

.InputField::placeholder {
  color: var(--placeholder-color);
}
/* ====== Index ====== */

.indexContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  background-color: var(--bg-color);
}

/* ====== SideBar ====== */

.sideBarContainer,
.mobileSideBarContainer {
  background-color: var(--sidebar-bg);
  border: 1px solid var(--border-color);
  padding: 8px !important;
  display: flex !important;
}

.sideBarContainer {
  width: 64px;
  height: 100vh !important;
  border-right: 1px solid var(--border-color);
  flex-direction: column !important;
}

.mobileSideBarContainer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  border-top: 1px solid var(--border-color);
  flex-direction: row !important;
  z-index: 1000;
  padding-bottom: 60px !important;
}

.sideBarIcon {
  width: 48px;
  height: 48px;
  font-size: 24px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  color: var(--text-secondary);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.sideBarIcon:hover {
  color: #ffffff;
  transform: scale(1.05);
}

.activeIcon {
  color: #2bd4bd;
  background-color: #2bd4bd22;
  color: #ffffff;
}

.profileImageContainer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.profileImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--primary-color);
  position: absolute;
  bottom: 8px;
}

/* Home */

.homeContainer {
  height: 100vh;
  width: 324px;
  background-color: var(--sidebar-bg);
  border: 1px solid var(--border-color);
  padding-top: 16px;
  padding-bottom: 16px;
  color: var(--text-color);
}

.homeHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  padding: 12px;
}

.homeHeader h2 {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.homeHeaderIcon {
  color: var(--text-color);
  font-size: 20px;
}

.homeHeaderDivider {
  border: 0.5px solid var(--border-color);
}

/* ====== Chat Section ====== */
.searchContainer {
  width: 100%;
  height: 64px;
  padding: 12px;

  display: flex;
  align-items: center;
}

/* search bar:  */
