:root {
  --bg-color: #121212; /* App background */
  --sidebar-bg: #16181d; /* Left sidebar */
  --chat-bg: #1a1a1a; /* Chat area background */
  --card-bg: #2a2a3a; /* Chat list item */
  --primary-color: #4fc3f7; /* Selected item / button */
  --text-color: #e0e0e0; /* Main text */
  --text-secondary: #818898; /* Secondary text / timestamps */
  --border-color: #2c2c3c; /* Divider lines */
  --input-bg: #2a2a3a; /* Input area background */
  --placeholder-color: #7a7a7a; /* Placeholder text */
}

/* Dark theme */
[data-theme="light"] {
  --bg-color: #f5f5f5; /* App background */
  --sidebar-bg: #ffffff; /* Left sidebar */
  --chat-bg: #eaeaea; /* Chat area background */
  --card-bg: #ffffff; /* Chat list item */
  --primary-color: #1976d2; /* Selected item / button */
  --text-color: #212121; /* Main text */
  --text-secondary: #616161; /* Secondary text / timestamps */
  --border-color: #dcdcdc; /* Divider lines */
  --input-bg: #ffffff; /* Input area background */
  --placeholder-color: #9e9e9e; /* Placeholder text */
}

/* ====== Index ====== */

.indexContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  background-color: var(--bg-color);
}

/* ====== SideBar ====== */

.sideBarContainer,
.mobileSideBarContainer {
  background-color: var(--sidebar-bg);
  border: 1px solid var(--border-color);
  padding: 8px !important;
  display: flex !important;
}

.sideBarContainer {
  width: 64px;
  height: 100vh !important;
  border-right: 1px solid var(--border-color);
  flex-direction: column !important;
}

.mobileSideBarContainer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  border-top: 1px solid var(--border-color);
  flex-direction: row !important;
  z-index: 1000;
  padding-bottom: 60px !important;
}

.sideBarIcon {
  width: 48px;
  height: 48px;
  font-size: 28px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  color: var(--text-secondary);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.sideBarIcon:hover {
  color: #ffffff;
  transform: scale(1.05);
}

.activeIcon {
  color: #2bd4bd;
  background-color: #2bd4bd22;
  color: #ffffff;
}

.profileImageContainer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.profileImage {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: var(--primary-color);
  position: absolute;
  bottom: 8px;
}
